[2018-06-14 13:19] mathpaquette opened #1 "E,NO DATA should or should not be converted in exception?"

[2018-06-30 07:07] Nucs commented on #1
I would suggest wrapping the errors from iqfeed in their own exception class (let's say IQFeedException).
Regarding "E,!NO_DATA!,", if you decide it should throw an exception instead of an empty array,
you should wrap it in a separate/inherited exception from IQFeedException so it will be possible to distinguish it from.

[2018-06-30 17:32] Nucs opened #2 "TickId bigger than Int32.MaxValue"
Hey,
During accessing history data of `msft-nasdaq`, in parsing of `TickMessage` inside the constructor (see code below),
the following line was received:
`"2018-04-17 17:51:22.000000,96.0700,1061909,0,0.0000,0.0000,4145784264,O,19,143A"`

The parsing code inside constructor:
[code]

### Fix:
Change `TickId` to `ulong` (or `long` if there is a possibility to receive -1).

[2018-06-30 18:08] mathpaquette commented on #2
Sure let me fix it tonight

[2018-07-01 02:28] mathpaquette commented on #2
@Nucs fixed in the 1.3.1 branch.

[2018-07-01 02:28] #2 closed

[2018-07-01 18:19] Nucs opened #4 "Changing Money-related variables from float to decimal."
## Summary
The value type for variables that hold a balance/portfolio or price/bid/ask should be [`decimal`](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/decimal).

### Pros
* High accuracy when handling calculations with money (this is `decimal`'s purpose and what it was created for).
* `decimal` is the standard value type for handling money in all libraries I've wor

[2018-07-01 18:29] Nucs opened #5 "Downgrade/Support .net-framework version from .net462 to .net45."
As a library, `.net-framework` version should be supported at lowest version possible.
Therefore `.net-framework` version should be downgraded or even better also support `.net45`,
Below `.net45` there will be needed heavier changes related to [`TPL`](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/task-parallel-library-tpl) and `Tasks`.

In `.net45` there is no `System.Confi

[2018-07-01 18:43] Nucs commented on #5
I've already added support for `.net45` it in my local private fork.
Assign it to me and I'll add a pull request.

[2018-07-01 21:19] mathpaquette commented on #5
@Nucs after this one, I can release 1.3.1

[2018-07-02 08:34] #5 closed

[2018-07-02 12:13] mathpaquette opened #8 "find a way to be able to run unit tests and ignoring integration tests targeting .net core and .net framework"
Since we targeting both frameworks, appveyor wont use appveyor.yml configuration for .net core
example:

test:
  assemblies:
      - IQFeed.CSharpApiClient.Tests.dll

even with this, on the .net core build, integration tests will be run.

expected:
be able to run only unit tests for all targets.

[2018-07-06 12:49] Nucs opened #9 "Culture-specific parsing."
During publishing my app in a virtual server that is located in France, it failed during parsing `TickMessage` at the following commented line/s:
[code]
It happened because the machine's system language is french therefore the culture in the code is `fr-FR`
and some European countries write fraction number with comma instead of period so that line tries to parse "14,5" where in fact the value is "

[2018-07-06 14:12] mathpaquette commented on #9
@Nucs, very good point. I think Ill need to add the correct string pattern to parse the DateTime.

[2018-07-10 01:09] #9 closed

[2018-07-10 10:22] mathpaquette opened #10 "Should_Return_MarketSymbols_From_Sample_Archive_File failing .net45"
System.Net.WebException : The request was aborted: Could not create SSL/TLS secure channel.
   at System.Net.WebClient.DownloadFile(Uri address, String fileName)
   at IQFeed.CSharpApiClient.Lookup.Symbol.MarketSymbols.MarketSymbolDownloader.GetMarketSymbolsFile(String downloadPath, String marketSymbolsUrl)
   at IQFeed.CSharpApiClient.Lookup.Symbol.SymbolFacade.GetAllMarketSymbols(String download

[2018-07-12 22:31] omencat commented on #1
Sorry, I just synced and noticed you already resolved that error pattern

[2018-07-12 22:38] mathpaquette commented on #1
Yes I’ll push the code tonight I have it locally!

Sent from my iPhone

On Jul 12, 2018, at 6:31 PM, omencat <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry, I just synced and noticed you already resolved that error pattern

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/mathpaquette/IQFeed.CSha

[2018-07-12 23:18] mathpaquette commented on #1
No problem, thanks for raised it. I made a major cleanup/refactor and created custom IQFeed exceptions.

On Jul 12, 2018, at 6:31 PM, omencat <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry, I just synced and noticed you already resolved that error pattern

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://gi

[2018-07-13 02:04] mathpaquette commented on #1
please review guys

[2018-07-13 02:04] #1 closed

[2018-07-13 10:46] Nucs opened #11 "Adding [Serializable] to all POCO classes."
There should be `SerializableAttribute` to every POCO that represents data received from IQFeed (`UpdateSummaryMessage`, `FundamentalMessage `and so on).
Adding this attribute does not create any overhead whatsoever.

#### Motivation
Allow (de)serialization from various external libraries like [netserializer](https://github.com/tomba/netserializer) that require **just** this attribute to (de)seria

[2018-07-13 19:54] omencat commented on #1
confirmed NoDataIQFeedException

[2018-07-31 17:13] mathpaquette opened #12 "Please star the project for better visibility"

[2018-07-31 17:13] #12 closed

[2018-08-01 11:26] mathpaquette commented on #12
@grandtiger please

[2018-08-01 11:27] mathpaquette commented on #12
@MerlinBrasil please guys

[2018-08-01 11:35] mathpaquette commented on #12
@manoappapillai please star this repo Mano. thanks

[2018-08-04 00:29] hunterfries opened #13 "Passing requestId to ReqHistoryIntervalTimeframeAsync throws System.FormatException"
System.FormatException: 'String was not recognized as a valid DateTime.' is thrown when requestId is passed to ReqHistoryIntervalTimeframeAsync.

[2018-08-04 00:51] mathpaquette commented on #13
Hello @hunterfries, in fact, all request id parameters arent supported because they're not really useful since every requests are made individually on another thread/client or sequentially (await). This mechanism is only supported by IQFeed  to distinguish data from many requests at the same time but not applicable for us.

I will remove this parameter from all lookup requests pretty soon.

[2018-08-04 19:48] mathpaquette commented on #13
@hunterfries Well, not so sure of this conclusion for Derivative data... Ill look to a proper solution but looks like possible that request ids will be necessary....

[2018-08-04 20:00] hunterfries commented on #13
@mathpaquette Sounds good. I don't think that changes removing them from lookup requests. I was already in a request id mindset, which is how I found this in the first place.

[2018-08-05 14:55] mbmurray commented on #13
Hey guys.  I'm glad you came to the conclusion that you will need the request ID when looking up historical data.  I ran into this problem when trying to use this library in an existing solution that previously used the COM object to communicate with IQ feed.  I fixed this in a local copy for my needs but I can share my updates with you if you'd like.

[2018-08-05 18:05] mathpaquette commented on #13
@mbmurray thank you for participating in that discussion. Well, because I have pressure from you guys, I'll add functionality to support parsing with/without request Id. For lookup requests, I feel this is a bit a bad practice but since you have to adapt into an old project it makes sense to support it. For the code it's fine but thank you very much again for your input!

[2018-08-05 21:50] hunterfries opened #14 "Historical.ReqHistoryIntervalTimeframeAsync for symbol CDAX.X throws System.OverflowException"
HIT request for 1/1/2007 to current throws System.OverflowException: 'Value was either too large or too small for an Int32.'

[2018-08-05 22:04] mathpaquette commented on #14
already fixed on master, will be on the next release. Plan to release 1.4.0 tonight!

[2018-08-05 22:07] mathpaquette commented on #14
sorry, I think the issue still there. Gonna fix it! Sorry again

[2018-08-05 22:08] mathpaquette commented on #14
@hunterfries gimme the full command that you used? Interval needed. thanks.

[2018-08-05 22:14] hunterfries commented on #14
lookupClient.Historical.ReqHistoryIntervalTimeframeAsync(
                               CDAX.X,
                                60,
                                startDateTime,
                                endDateTime);

startDateTime is new Datetime(2007, 1, 1)
endDateTime is DateTime.Now

[2018-08-05 22:20] hunterfries opened #15 "Historical.ReqHistoryIntervalTimeframeAsync for symbols containing ".X" returning daily data"
lookupClient.Historical.ReqHistoryIntervalTimeframeAsync(
                               "NIK.X",
                                60,
                                startDateTime,
                                endDateTime)

startDateTime is new Datetime(2007, 1, 1)
endDateTime is DateTime.Now

Going to investigate this further on my own...not sure what is going on here. Requests are identical t

[2018-08-05 22:26] #15 closed

[2018-08-05 22:26] hunterfries commented on #15
Looks like .X symbols only have daily tick data.

[2018-08-05 23:42] mathpaquette commented on #15
@hunterfries can you please gimme me more info on this one want to have it. dont hesitate to communicate with iqfeed support.

[2018-08-05 23:44] hunterfries commented on #15
I closed this one...should have done my due diligence before opening. Some of the symbols are only returning daily data when requesting interval data...reaching out to iqfeed.

[2018-08-05 23:45] mathpaquette commented on #15
Okay but I'm confused about the two recently opened...

[2018-08-05 23:53] hunterfries commented on #15
Replied offline with more context.

[2018-08-07 11:30] mathpaquette opened #16 "LookupClient BufferSize can be customized"
Anyhow, when i look up the Options Chain for AMZN on 20180731, this is the error i get (Just wanted to share)

![exception](https://user-images.githubusercontent.com/4358455/43773431-b3d0a69c-9a13-11e8-9676-e1b549849fb2.png)

[2018-08-07 11:30] mathpaquette commented on #16
Solution: Basically what you’ll need to do, git pull, and use the LookupClientFactory.CreateNew(bufferSize: 128*1024) customized parameters and pass something larger to the default value which is 32*1024. 128*1024 should be fine.

[2018-08-07 11:31] mathpaquette commented on #16
@license786 thank you to reporting it.

[2018-08-07 11:31] #16 closed

[2018-08-07 14:20] hunterfries commented on #4
I agree. Will save the step of converting to decimal in our client apps. Pros outweigh the cons.

[2018-08-07 14:57] hunterfries commented on #14
Also happening with symbol EPU

[2018-08-09 15:45] hunterfries opened #17 "IntervalMessage and DailyWeeklyMonthlyMessage have Open and Close flipped"
Per IQ Feed:

Response is HLOC and both message types are parsing as HLCO. Will be creating PR for fix shortly.

[2018-08-09 16:34] mathpaquette commented on #17
I have to double check that! thanks for reporting.

[2018-08-09 16:43] hunterfries commented on #17
PR is open for the fix.

[2018-08-09 21:30] #17 closed

[2018-08-09 21:30] mathpaquette commented on #17
thank you @hunterfries for this PR :)

[2018-08-11 20:39] mathpaquette commented on #13
@hunterfries or @mbmurray please review, Ill merge into master

[2018-08-11 20:45] mathpaquette commented on #14
@hunterfries do you suggest both TotalVolume and PeriodVolume to be long?

[2018-08-11 20:49] mathpaquette commented on #14
seems only problematic with the TotalVolume

[2018-08-11 21:05] mathpaquette commented on #14
review

[2018-08-12 12:09] #14 closed

[2018-08-12 12:09] #13 closed

[2018-08-12 18:14] mathpaquette commented on #10
The issue still persist on Framework 4.5.....

[2018-08-12 18:14] mathpaquette commented on #10
@license786 can you please put the screenshot here.

[2018-08-12 18:33] Nucs commented on #10
If the ssl issue still persists,  Please try this answer and let us know the results.
https://stackoverflow.com/a/48930280

Regarding the problem with `ZipFile`, @mathpaquette, we'll need to add nuget reference to `System.Compression` because it has issues in NET45 (only to this framework).
See: https://stackoverflow.com/a/48431402

[2018-08-13 00:13] mathpaquette commented on #10
@Nucs the weird thing about the compression, @license786 targeting 4.6.1.... on my side it runs flawlessly

[2018-08-13 00:42] license786 commented on #10
What is the solution, i should try for now.

[2018-08-13 01:32] mathpaquette commented on #10
@Nucs on his computer, I had to uninstall the IQFeed.Client change the target to NET4.5 reinstall to fix the issue.

[2018-08-13 16:33] license786 commented on #16
Thank you for fixing this promptly

[2018-08-14 15:56] mathpaquette commented on #12
@grandtiger and @manoappapillai last call on my side. Please star this will help the project to survive.
Thank you

[2018-08-23 12:44] #10 closed

[2018-08-23 12:45] mathpaquette commented on #8
Anyone would to handle this one?

[2018-08-24 12:14] Nucs opened #23 "Common Resharper solution configuration."
There should be a resharper solution/projects configuration for the refactoring rules based on the current styling.

[2018-08-27 12:30] mathpaquette commented on #11
I wish to keep Message classes immutable for now.. Lets see how all of this will evolve but there's nothing wrong creating other objects for your specific usage since most modern serializers now supporting plain classes like this.

[2018-08-30 03:40] jphiggs opened #24 "Add support for Dynamic Fieldsets"
It looks like there's an issue with using dynamic fieldsets.  Sending the following requests works
level1Client.SelectUpdateFieldName(DynamicFieldset.MostRecentTrade,
                                                           DynamicFieldset.MostRecentTradeSize,
                                                           DynamicFieldset.MostRecentTradeTime);
level1Client.ReqWatch("@ESU18");
but an

[2018-08-30 11:42] mathpaquette commented on #24
Hello @jphiggs , you're correct. Out of the box, this thing isn't already supported. I'll try to add the support this in the very near future. I have some ideas how to deal with it.

[2018-09-11 19:01] Nucs opened #25 "IClient connection status."
There is no way to know if a client is connected, disconnected or suddenly lost connection.
There is a heavy need for:
* Event for connection state change.
* Property for current connection state.

[2018-09-13 18:07] mathpaquette commented on #25
@Nucs did you check with AdminClient?

[2018-09-14 04:10] Nucs commented on #25
I'm talking about knowing in my business layer if `Level1Client` has disconnected, lost connection or just idle because the specific stock is silent.

You'll need to be more specific because there is no documentation at all in any parts of the code.
`ClientsConnected` from `StatsMessage` in `AdminClient` provides general count of connections.
`ClientStatsMessage` still doesn't refer to `Level1Clie

[2018-09-14 05:33] Nucs opened #26 "[MessageHandlers] Skipping Parse if related event is null"
Looking at `Level1MessageHandler`, every message that comes in is first parsed and only then it's related event is checked if it there is any delegates registered to it.
Skipping the parsing will actually improve performance on heavy applications.
note: this might be relevant to all message handlers.

Example for a fix:

[code]

@mathpaquette, Let me know if you want a PR.

[2018-09-19 23:16] mathpaquette commented on #26
Dont see really any valid use cases. I mean, the network will be even a bigger loss than this simple parsing thing. I should unwatch symbols when no one is using the data itself.

[2018-09-19 23:16] #26 closed

[2018-09-19 23:17] mathpaquette commented on #25
I didnt forget you... Still working to find the time to add this. Before the end of the week for sure!

[2018-09-19 23:19] mathpaquette opened #27 "Add Level 2"

[2018-09-20 11:50] mathpaquette commented on #25
Nucs, Level1 you will receive Timestamp every seconds, if not, something goes wrong.

[2018-10-04 12:27] veng1 opened #28 "Historical Expired Options Volume"
Historical Options do not seem to include volume and open interest.  Can they be made available?

[2018-10-04 12:32] mathpaquette commented on #28
Sure, you can get it using Historical Daily request.
Something like this: var dailyMessages = await lookupClient.Historical.ReqHistoryDailyDatapointsAsync("AAPL", 100);

[2018-10-04 12:33] #28 closed

[2018-10-04 12:47] veng1 commented on #28
Actually, I'd like it minute by minute to scan for large block trades.  That often indicates big players are taking an option position in advance of an event.

[2018-10-04 12:52] mathpaquette commented on #28
Sure, I know what you trying to achieve but unfortunately I don’t think IQFeed is providing Open Interest other than Daily request. I’m just the owner of this library.
Please ask to support@iqfeed.net<mailto:support@iqfeed.net> and let me know if there’s another way!

Mathieu

From: veng1 <notifications@github.com>
Sent: October 4, 2018 8:48 AM
To: mathpaquette/IQFeed.CSharpApiClient <IQFeed.CShar

[2018-10-04 14:37] veng1 commented on #28
Please look at: API Doc Historical via TCP/IP ->Result Format for HIX, HID, and HIT requests
Note: Total Volume and Period Volume.  They both return integers
Of course, the doc is not always correct.

I was able to retrieve this data using ver 5 protocol.  As an example, VXX1019F20_Min.csv:

Time Stamp,High,Low,Open,Close,Total Volume,Period Volume,Number of Trades
2010-05-28 12:14:00,8.50,8.50,8.

[2018-10-05 17:18] veng1 opened #29 "Raw.RequestHistory"
Could the Raw.RequestHistory, which seems to be intended to create files have an option to include a header?

In the past, I've done it like this:
sRequest = String.Format("HDX,{0},{1},{2},{3},{4}\r\n", txtSymbol.Text, txtStrike.Text, txtDirection.Text,      txtRequestID.Text, txtDatapointsPerSend.Text);
header = "Time Stamp,Last,High,Low,Open,Close,Volume,Open Interest";
for each type of request.

[2018-10-05 17:23] veng1 opened #30 "Password and UserID in registry"
The IQFeed launcher will use the PW and user id from the registry.  That seems like a more secure method than including it in app.config where one has to remember to remove it when the code is shared.

Could that be done in the next version?

[2018-10-05 17:32] mathpaquette commented on #30
We're supporting User environment variables and app.config. User environment is the one prioritized for local deployment to app.config is important for remote deployment.

[2018-10-05 17:32] #30 closed

[2018-10-05 17:33] mathpaquette commented on #29
You need to manually happen the file and adding the header you wish to add.

[2018-10-05 17:33] #29 closed

[2018-10-23 16:58] hunterfries commented on #25
Wanted to circle back to this...what about checking the status of the DerivativeClient? It is also streaming data and needs to handle connection state changes.

[2018-11-07 22:34] hunterfries commented on #25
Bump here...what do we think about this?

[2018-11-07 22:53] mathpaquette commented on #25
@hunterfries totally agree with you guys that would be nice to have such abiliality in every connected clients. I'll do it once I have spare time, right now focusing on my new contract...

[2018-11-09 20:08] hunterfries commented on #25
No problem. In the meantime, would subscribing to the Level1Client's timestamp callback and then handling a disconnection be the current workaround? Something like:

 IQFeedLauncher.Terminate();
IQFeedLauncher.Start();
// start your clients

@Nucs is this how your handling this?

[2018-11-13 13:44] Nucs commented on #25
The same way I wrote on the first post on a separate thread.

[2018-11-15 22:49] mathpaquette commented on #25
But guys, do you agree that if there's no reconnect mechanism checking the status is a but useless or this is me that not getting the use case?

[2018-11-16 02:19] hunterfries commented on #25
That or an implementation of the workaround above that fired a Disconnected event that we could hook onto. I would just want some input on the implementation.

[2018-11-17 21:06] mathpaquette commented on #25
@hunterfries, yes, I think I prefer the Disconnected event. Ill do that. thanks

[2018-11-22 12:43] 10thBeast commented on #25
Hi All,

What is the **Product_id** in app.config file or user environment.

[2018-11-23 02:58] mathpaquette commented on #25
@10thBeast long story short, you need to buy a dev license from IQFeed

[2018-12-16 14:49] mathpaquette commented on #25
Guys,  there's no easy way to know if a socket is still connected or not. Even the Connected property from Socket class can lie about his current status in the case the connection dropped unexpectedly. We need to have a HeartBeat mechanism but not supported by IQFeed...

Ill check what I can do with the Admin port to monitor the status with IQFeed Servers but there's no easy way to do it.

[2018-12-17 04:32] Nucs commented on #25
You can always create a seperate `Level1Client `that will use timestamps as heartbeat while a different client is used for data.

[2018-12-20 05:21] chengsu99 opened #31 "Hopefully. This is so good. But I use python..."

[2018-12-20 13:44] mathpaquette commented on #31
Hey @chengsu99 thanks for contacting us. Let me check what we can offer you to leverage of this lib!

[2018-12-20 14:38] Nucs commented on #31
And if you are still willing use in python, I would suggest [pythonnet](https://github.com/pythonnet/pythonnet/) as it works good enough.

[2018-12-20 15:15] chengsu99 commented on #31
thank you so much

[2018-12-21 13:58] mathpaquette commented on #31
Yes, I think pythonnet or ironpython is your best bet!

[2018-12-21 13:58] #31 closed

[2018-12-26 00:07] omencat commented on #24
I just ran in to the same issue when trying to add OpenInterest to my dynamic fieldset. So it looks like ad5a2b0e60c204a1a184d700579c054934265d9a added the support to generate a proper `S,CURRENT UPDATE FIELDNAMES`, and it works, I can see the open interest. I guess the next step is an update/overload to the UpdateSummaryMessage because the fields are hard coded. I've never used dynamic fieldsets

[2019-01-19 23:16] chengsu99 commented on #31
seems it is for python 2.7. But I'm using python 3.6 on OSX.

[2019-03-17 17:34] hunterfries opened #32 "HistoricalRequestFormatter HistoricalDataTimeFormat Incorrect"
HistoricalRequestFormatter HistoricalDataTimeFormat is currently hhmmss, but the IQ Feed api documentation states the format should be HHmmSS. This is causing any filter date past 12p to be invalid.

[2019-03-18 00:36] #8 closed

[2019-03-18 16:56] mathpaquette commented on #32
@hunterfries please give me more details about the request you trying to do.

[2019-03-18 17:03] hunterfries commented on #32
I'm trying to make a ReqHistoryIntervalTimeframeAsync request using beginFilterTime and endFilterTime. Note I did successfully use the filter function filtering between 930a and 10a.

`lookupClient.Historical.ReqHistoryIntervalTimeframeAsync(
				                                            symbol: dto.Symbol.Symbol,
				                                            interval: ONE_MINUTE_IN_SECONDS,

[2019-03-18 18:39] jphiggs commented on #32
Not sure if this is related to @hunterfries' issue but over the weekend I was getting an IQFeed exception when using the BasicHistorical Example for Historical.ReqHistoryIntervalDaysAsync. The inner exception was "Invalid number of parameters'. That didn't occur with the other 2 historical requests in step 5 for that example. The exception also does not occur if I hard code the IQFeed request to
v

[2019-03-18 23:40] mathpaquette commented on #32
@jphiggs @hunterfries just ran all the tests and now everything seems to be fine. Can we suppose there was some instability during the weekend not related to the ApiClient?

[2019-03-19 00:10] jphiggs commented on #32
I still get the 'Invalid number of parameters' exception in the BasicHistoricalExample for the lookupClient.Historical.ReqHistoryIntervalDaysAsync("AAPL", 300, 5, 100); request:

![image](https://user-images.githubusercontent.com/6563358/54571362-fc228e80-49a7-11e9-977d-846dc34228eb.png)

It works if I eliminate one of the optional parameters in the  HistoricalRequestFormatter for an IntervalDays

[2019-03-19 00:12] jphiggs commented on #32
![image](https://user-images.githubusercontent.com/6563358/54571641-596b0f80-49a9-11e9-83c6-efc45129bdff.png)

[2019-03-19 00:17] mathpaquette commented on #32
@jphiggs just ran all the tests with IQFeed version 6.0.0.5 without any issue. What version you got?

[2019-03-19 00:18] mathpaquette commented on #32
looks like a regression from IQFeed

[2019-03-19 00:26] jphiggs commented on #32
Yep, still on 5.2.5.0 and I'll change that but thought the default ProtocolVersion = "5.2"; definition would have prevented a conflict.  I'll get back with the result after I upgrade.

[2019-03-19 00:33] mathpaquette commented on #32
Oh... of course you need to be in sync with the latest version of the Client...
Just tested with the 6.0.1.1 and everything is green on my side.

![image](https://user-images.githubusercontent.com/4358455/54572286-174bc900-49bd-11e9-8c95-90c4028f0250.png)

[2019-03-19 00:36] mathpaquette commented on #32
@jphiggs just tested your query and also works fine. Ill close the issue, reopen is you fine something new. Thanks guys.

[2019-03-19 00:36] #32 closed

[2019-03-19 00:47] jphiggs commented on #32
Ok, that was it, thanks.

[2019-03-19 00:47] mathpaquette commented on #4
We gonna stick with float since most of the time, for example when streaming level 1 data, we dont care about handling all UpdateSummaryMessage one by one. I'll add a special extension method for those of you want to go with decimals.

[2019-04-13 15:05] mbmurray opened #35 "CSharpApiClient sometimes binds to IPv6 instead of IPv4."
When starting up, the library can try to bind to the admin port of the client using IPv6 depending on how your network/computer is set up.  The library should be changed to filter out any IPv6 addresses.

[2019-04-14 15:07] mathpaquette commented on #35
thanks @mbmurray ill give a look.

[2019-04-24 21:03] jphiggs commented on #27
Hi, I took the liberty of implementing Level 2 and submitted a PR because this one's been open for a while and I expect you have higher priority demands on your time.  It's mirrored on the Level 1 API and includes tests and an example.  I also included another separate example for retrieving futures chains.  Let me know your thoughts.

[2019-05-02 12:51] storewaladotcom opened #38 "documentation about product id"
What is the product id parameter and where to get it from ?

[2019-05-17 22:27] mrut2pac opened #39 "Connection Lost event for streaming clients"
Would be nice to have a built in support for socket disconnected event for streaming clients so that the user will be notified when the underlying socket is closed and the updates will stop. Now until you make another request you won't know about the problem.

[2019-05-17 23:09] Nucs commented on #39
Related: #25

[2019-05-21 00:16] mathpaquette commented on #39
well, maybe we can create a simple watchlog for level1 quote and maybe level2. You can also check for level1 timestamp event and if you didnt receive anything, you're disconnected.

[2019-05-21 00:17] mathpaquette commented on #39
gonna close it since this is related to the same issue.

[2019-05-21 00:17] #39 closed

[2019-05-21 00:33] mrut2pac commented on #39
No problem. I have a monitor implementation that does what you described. I forked your repo, will implement additional stuff that I need, by maintaining your coding pattern.
Later we can merge it back if you see value.

[2019-06-12 00:43] #35 closed

[2019-06-12 01:03] mathpaquette commented on #38
Hello @storewaladotcom, to use this library, you need to subscribe to IQFeed developer which gives you the PRODUCT_ID.

Thanks,
Mathieu

[2019-06-12 01:03] #38 closed

[2019-06-12 01:04] mathpaquette commented on #35
https://www.nuget.org/packages/IQFeed.CSharpApiClient/1.4.3

thanks @mbmurray

[2019-07-10 22:01] MerlinBrasil opened #40 "In my error list"
Hi & thanks for all your hard work!

I'm using VS 2017 and, on first compile I get the one and only message:

Severity	Code	Description	Project	File	Line	Suppression State
Warning	NU5125	The 'licenseUrl' element will be deprecated. Consider using the 'license' element instead.	IQFeed.CSharpApiClient	C:\Program Files\dotnet\sdk\2.1.507\Sdks\NuGet.Build.Tasks.Pack\buildCrossTargeting\NuGet.Build.Tas

[2019-07-14 19:20] mathpaquette commented on #40
@MerlinBrasil thanks for reporting this. Ill take a look.

[2019-07-22 16:47] PaulGlynn588 opened #41 "Update interval doesn't work for DerivativeClient.ReqBarWatch"
You can request say 1 minute bars that are updated every 5 seconds. Currently it just ignores the update interval of 5 seconds.

The request is incorrectly formatted in DerivativeRequestFormatter.ReqBarWatch. The developer documentation says the format should be:

BW,[Symbol],[Interval],[BeginDate BeginTime],[MaxDaysOfDatapoints],[MaxDatapoints],[BeginFilterTime],[EndFilterTime],[RequestID],[Inter

[2019-07-22 17:07] mathpaquette commented on #41
Thanks for reporting this! Ill give a look and fix this today!

Mathieu

From: PaulGlynn588 <notifications@github.com>
Sent: July 22, 2019 12:47 PM
To: mathpaquette/IQFeed.CSharpApiClient <IQFeed.CSharpApiClient@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [mathpaquette/IQFeed.CSharpApiClient] Update interval doesn't work for DerivativeClient.ReqBarWatch (#41)

You c

[2019-07-23 18:59] mathpaquette commented on #40
I'm using VS 2017 updated to the latest version and didnt have any error. Are you sure its 2017 or maybe 2019?

[2019-07-23 19:57] MerlinBrasil commented on #40
I'm using what you're using. 2017 updated to the latest version.

Best,
Merlin

On Tue, Jul 23, 2019 at 3:59 PM Mathieu Paquette <notifications@github.com>
wrote:

[2019-07-23 20:01] mathpaquette commented on #40
Could you please include a screenshot ? thanks

[2019-07-23 20:06] MerlinBrasil commented on #40
I did a cut and paste of the error in my initial message in this thread

[2019-07-23 20:07] mathpaquette commented on #40
Thanks

[2019-07-24 14:48] #40 closed

[2019-07-24 15:24] mathpaquette commented on #41
@PaulGlynn588 please review PR

[2019-07-24 16:33] #41 closed

[2019-09-28 00:07] mrut2pac opened #44 "Level1 snapshot methods will stop current watches on same symbols"
Not sure if that is the expected behavior, but if you call any of these snapshot methods:
- GetFundamentalSnapshotAsync
- GetUpdateSummarySnapshotAsync

on a client while there was an ongoing **ReqWatch** on the same symbol, the updates will stop since both of them are calling **ReqUnwatch** on completion.

From the user perspective I didn't expect that. I though I'd report it here, FYI.

[2019-09-28 15:14] mathpaquette commented on #44
@mrut2pac thanks for contacting us ! Yes, I agree with you from the client perspective, this is not something expected. We should have a shared count and only unsubscribe if the count equals 1. What do you think?

[2019-09-29 18:39] mrut2pac commented on #44
Yeah, makes sense.

[2019-10-05 14:36] mathpaquette opened #48 "create a Docker image to be able to run Integration Tests when creating a PR"

[2019-10-05 14:36] mathpaquette commented on #48
anyone interested ?

[2019-10-06 19:58] mathpaquette opened #50 "WE NEED A LOGO!! please submit one!"

[2019-10-06 20:21] mathpaquette opened #51 "Add news support"

[2019-10-06 20:21] mathpaquette commented on #51
@mrut2pac interested in it?

[2019-10-06 21:52] mathpaquette opened #52 "Add unit test cases for SplitFeedMessage(this string s, int expectedParts) extension method"

[2019-10-07 11:01] mathpaquette opened #53 "Add python support examples"

[2019-10-14 20:54] flerka commented on #48
@mathpaquette Hi! I'm interested, from what I've understood it must be multistage dockerfile with 1st stage that copies and complies integration test project and second stage that runs integration test using that compiled code?

[2019-10-14 21:06] mathpaquette commented on #48
Hello @flerka thank you for your interest! The issue right now, we can only run unit tests because integration tests require [IQFEED CLIENT](http://www.iqfeed.net/index.cfm?displayaction=support&section=download) to be installed on the Continuous Integration server. I think it would be possible to create a Docker file that will pull IQFeed Client and integration tests will be executed in it. I thi

[2019-10-20 01:35] mathpaquette commented on #4
@Nucs @hunterfries @jphiggs @mrut2pac thinking about changing from float to double

[2019-10-20 01:36] mathpaquette commented on #4
just realized some edge cases like  Berkshire Hathaway Inc. with a price of 313,270.00 so this is already the limit of 7 digits for a float.

Do we really need decimal ? I dont think so

[2019-10-20 01:40] mathpaquette commented on #4
@Nucs float is actually 4 Bytes compare to 16 Bytes for a decimal. The thing is all our messages are immutable you ill never apply addition or other mathematical operators.

[2019-10-20 01:55] mathpaquette commented on #4
@Nucs okay you were right I think. Lets aim for the standard decimal.... Im going to release that in v2 with Market Depth support :)

[2019-10-20 01:57] #27 closed

[2019-10-20 01:57] mathpaquette commented on #27
will be release in version 2

[2019-10-20 06:40] Nucs commented on #4
I mean real high-frequency trading systems are written in C++, no-one should use C# for that kind of trading (performance-wise). So perf-wise moving to decimal is alright.

I don't think the 7 digits refer to the real number but to the fraction precision. The range is huge.

![image](https://user-images.githubusercontent.com/649919/67155752-8277c800-f31d-11e9-93a5-b881b6e9dd0c.png)

[2019-10-20 13:55] mathpaquette commented on #4
@Nucs my concern is mainly memory-wise not much performance. In my previous app, I needed to store in memory a bunch of Intervals data to perform calculation on the fly. Lets say the footprint was about 1.5Go now for the same thing it will be about 4 times the size without much additional value rather making sure that some edge cases like Berkshire can handle.

[2019-10-20 13:58] mathpaquette commented on #44
@mrut2pac what do you of instead of writing additional logic to handle that, Im suggesting to users to use a new Level1 client which cannot unsubscribe already streaming symbols.

[2019-10-20 14:02] mathpaquette commented on #24
@omencat unfortunately this is a little more complex than just that. We also need a dynamic way of parsing values and more importantly create UpdateSummary object without affecting too much the performance of the application.

[2019-10-20 14:27] Nucs commented on #4
@mathpaquette How about producing two nuget packages. One that uses decimal and an other float.
The user can choose if he prefers compatibility with external libraries and precision or lower memory usage.
Add a definition FLOAT or DECIMAL to two separate build configuration (similarly to Debug and Release modes)

[code]

[2019-10-20 14:59] mathpaquette commented on #4
@Nucs could be but seems a little bit overkill :)
What about replacing all float to double and providing ToDecimal for each messages ?
Even SciChart doesnt support decimals if I'm not wrong.

[2019-10-20 15:04] Nucs commented on #4
Literally 10 minutes to set up projects and buildbot and another 15 refactoring.

[2019-10-20 15:09] mathpaquette commented on #4
Not overkill in a sense to setup but I never experienced that kind of duality for any libs I used in the past in C# which usability its a bad sign that kind of uniqueness if you know what I mean.

[2019-10-20 15:11] mathpaquette commented on #4
We are just discussion right now, I'm open-minded to what people are saying.

[2019-10-21 01:32] mrut2pac commented on #4
I like the idea of having both float and decimal.

[2019-10-21 01:37] mrut2pac commented on #44
In my code I have another layer that maintains subscriptions. When Fundamental or Quote snapshots are requested I return it if the subscription already exists otherwise I create a new one that gets expired after a configured timeout. Your suggestion sounds like a good workaround, but not a nice long term solution. Let's think about it a bit more. I will post if I have any ideas.

[2019-10-21 01:45] mrut2pac commented on #52
I will work on them when I have time. Sorry a bit overloaded lately.

[2019-10-21 01:57] mathpaquette commented on #4
Same, the design is so flexible we can support it easily. Just boilerplate code to add... I think at the factory level will be the best...

On Oct 20, 2019, at 9:32 PM, mrut2pac <notifications@github.com> wrote:

﻿

I like the idea of having both float and decimal.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mathpaquette/

[2019-10-21 03:10] mrut2pac commented on #24
I thought about this. We can use Runtime Code Generation using classes from Emit namespace - https://www.nikolalukovic.com/programming/net-dynamically-generating-classes-in-runtime .
If we define an interface for UpdateSummaryMessage, our class generator code can take the selected fieldset and dynamically create a Class that implement that interface. For every field that is not selected there won'

[2019-10-21 22:25] mathpaquette commented on #24
man that sounds like an interesting idea.

[2020-01-25 18:03] mathpaquette commented on #4
took some time but finally supporting float, double and decimal out of the box.

[2020-04-01 09:32] NichUK opened #58 "Library hangs on IQFeedLauncher.Start on .net Core"
Using .net Core 3.1 the library hangs during IQFeedLauncher.Start()

[2020-04-01 23:27] #58 closed

[2020-04-07 18:39] NichUK opened #61 "Support protocol 6.2"
Hi @mathpaquette,

Are you interested in a PR to support 6.1?

I've got a completely working version, although because MarketSummary is in beta, and subject to change, it's handled semi-dynamically, which obviously is a little slower, but no reflection. Otherwise it fits pretty well with everything that you've done previously, architecturally speaking.

I've also written some, but obviously not en

[2020-04-07 18:49] mathpaquette commented on #61
Hi @NichUK  thanks for reaching out. Sure, I think the goal here is to support as close as possible IQFeed apis. Lets create a PR ill review and comment on the shape of it.

THanks
Mathieu

[2020-04-18 21:08] #53 closed

[2020-05-29 17:47] BunkerCoder commented on #24
I'm under the gun to get this working, so I'm working on an implementation.  My solution is a bit more simplistic than the ideas offered by  @mrut2pac, but it should be fast, although a bit verbose.  I'm new to the GIT world.  I forked the repository and pushed up a branch with my initial design ideas (INCOMPLETE).  I'll create a PR shortly.  I'm planning to continue down the road that I've starte

[2020-05-29 17:50] mathpaquette commented on #24
great! but keep in mind that Im going to remove the support of multiple handlers (float, double et decimal) and only keep as default  double for code simplicity.

[2020-05-29 17:58] BunkerCoder commented on #24
That would be awesome. Most of the headaches came from supporting multiple handlers!

[2020-05-29 18:03] mathpaquette commented on #24
@BunkerCoder yes. This added too much complexity for the benefit added. I think I dont want to touch the current Level1Client but might be a good opportunity to add a Level1ClientDynamic using dynamics instead.

[2020-05-30 12:07] mathpaquette commented on #4
Version 3 will drop support for generic message handlers meaning doubles will become default across the library no matter what for simplicity and performance reasons.

[2020-05-31 18:12] #4 closed

[2020-06-05 18:05] BunkerCoder opened #72 "TestDataTests.cs failing"
Looks like it is using lookup client instead of level1 client.
FROM CLIENT	LookupRequest	15136	1	2020-06-05 12:42:05	HTT,NEPT,20200401 040000,20200403 200000,,,,0,,

TO CLIENT	LookupError	15136	1	2020-06-05 12:42:05	E,!NO_DATA!,,

[2020-06-06 01:21] BunkerCoder commented on #72
Sorry...my IQFeed installation was damaged. Needed to re-install it.  Test ran fine after that.
I mistakenly thought this was the wrong client port because I saw:
Connect to IQConnect by following the instructions for Level 1 via TCP/IP.
I missed the next line:
Once a connection has been established, connect to the Lookup port for IQFeed's IQConnect

[2020-06-06 01:21] #72 closed

[2020-06-06 01:29] mathpaquette commented on #72
np things happen

[2020-06-09 20:30] jduke99 commented on #51
Any progress on the News Example?  eg getting historical news or streaming news

[2020-06-09 20:52] mathpaquette commented on #51
I can manage that next week.

[2020-06-09 21:00] mathpaquette commented on #51
if you star the project :P

[2020-06-11 16:56] mathpaquette commented on #51
@jduke99 Dont forget to star the project. Example in c# for Python?

[2020-06-11 22:25] mathpaquette commented on #24
@BunkerCoder please email me with your contact info

[2020-06-12 10:17] mathpaquette commented on #52
@mrut2pac could you please close that one? you're help much appreciated to stay this project afloat. thank you!

[2020-06-12 10:18] mathpaquette commented on #61
@NichUK sorry Nich. didnt forget you..

[2020-06-12 15:45] jduke99 commented on #51
@mathpaquette  C# please

[2020-06-13 02:14] #51 closed

[2020-06-13 02:16] mathpaquette commented on #51
@jduke99 added support for news! please review https://github.com/mathpaquette/IQFeed.CSharpApiClient/blob/master/src/IQFeed.CSharpApiClient.Tests.Integration/Lookup/News/NewsFacadeTests.cs for some example!

[2020-06-15 03:39] jduke99 commented on #51
Thank you @mathpaquette .  All the tests seem to be running fine.  Being honest, even looking at the facade test, i'm still not able to build my Example.cs to quite work properly with symbols and dates.  Can you provide a call example with multiple symbols and dates for eg.

`var newsMessages = await lookupClient.News.GetNewsHeadlinesAsync(<WHAT GOES HERE?>)`

[2020-06-15 03:48] jduke99 commented on #51
I seem to get a cannot convert string to string[] error when i try to put in an array of symbols.  i am not a c# guru, apologies if this should be obvious.

[2020-06-15 13:43] mathpaquette commented on #51
Hi Jon,

Could you please be more precise in what you trying to achieve. Ill try to help you with that.

Thanks,
Mathieu

From: Jon Duke <notifications@github.com>
Sent: Sunday, June 14, 2020 11:49 PM
To: mathpaquette/IQFeed.CSharpApiClient <IQFeed.CSharpApiClient@noreply.github.com>
Cc: Mathieu Paquette <me@mathpaquette.com>; Mention <mention@noreply.github.com>
Subject: Re: [mathpaquette/IQFeed.

[2020-06-16 06:01] hfries commented on #48
@mathpaquette do you have a preferred method of storing / injecting creds to run the integration tests? I have the dockerfile built, but NotSupportedException being thrown when running tests against netcore 2.0. I'll put up a pr for review / discussion later this week.

[2020-06-16 10:46] mathpaquette commented on #48
@hfries afterthought this might be more cumbersome than very helpful. Do you plan to use it in any ways?

[2020-06-16 12:28] mathpaquette commented on #24
ab49eefe04d74f3d8fe93f57c8338ae4370f556b fixed it. Thank you @BunkerCoder

[2020-06-16 12:28] #24 closed

[2020-06-16 12:29] #48 closed

[2020-06-16 12:32] #44 closed

[2020-06-20 01:58] hunterfries commented on #48
@mathpaquette I'm game to put something up if anyone sees value in it. I don't think I would use it since my dev env would have iq connect installed, but if we wanted to ensure some level of consistency to the tests, containerizing the tests would check the box.

[2020-06-20 01:59] hunterfries commented on #52
@mathpaquette I can put some tests up for this this weekend.

[2020-06-25 12:36] jduke99 commented on #51
Thanks so much.  An example would just be pulling news stories on AAPL from 2/1/2020 to 4/1/2020.

ps. I was wondering if  your offer to make a python example is still available?  In particular looking for pull as above as well as streaming level 1 news example in python.

[2020-06-30 22:59] mathpaquette commented on #52
@hunterfries if you can close this one will be nice.

[2020-07-21 00:56] mathpaquette commented on #52
thanks @hunterfries

[2020-07-21 00:56] #52 closed

[2020-08-07 18:14] veng1 opened #85 "Login and Password in Registry"
I'm not too fond of putting my IQfeed login and password in code like appconfig nor do I want to add it to the environment.  It seems easier to use what IQFeed already stores in the Registry.  Also the Product ID can be stored there.  The following replacement for IQFeedLauncher.cs

using System;
using System.Configuration;
using System.Diagnostics;
using System.Threading;
using IQFeed.CSharpApiCl

[2020-08-07 23:40] mathpaquette commented on #85
![image](https://user-images.githubusercontent.com/4358455/89696422-cd32f280-d8e5-11ea-8d68-54589a085196.png)

[2020-08-07 23:42] mathpaquette commented on #85
but whats the problem of using env variables?

[2020-08-08 11:57] mathpaquette opened #86 "translate c# example to Python"
Python is very popular these days and having the examples translated in would be useful for many.

The task is to translate these examples:
https://github.com/mathpaquette/IQFeed.CSharpApiClient/tree/master/src/IQFeed.CSharpApiClient.Examples

We can merge them one by one so if you are welling to help, pick one and raise a PR.
Thanks

[2020-08-08 12:11] mathpaquette commented on #85
@veng1 but look, I've understood your point. Basically, if you've saved already your credentials into IQFeed, there's no reason for throwing an error when launching the IQFeedLaucher isnt it. The problem is that your code is only windows compatible...

[2020-08-08 17:26] hunterfries commented on #85
@mathpaquette  I'm not advocating one way on the other, but conditional logic around what's returned from Environment.OSVersion could skirt this concern.

[2020-08-08 17:29] mathpaquette commented on #85
@hunterfries I totally agree with you. at the end of the day, we need to start IQConnect without parameters if I understand correctly.

[2020-08-17 07:59] sharok opened #87 "Exception happens on ReqWatchList call"
Calling `ReqWatchList` produces exceptions:
[code]

It happens when there are a lot of symbols.  I tried 1300 **options** symbols.
After some debugging, I figured out that the size of the buffer is not enough.

Increasing `_readBytes` solves the issue, quick fix:

`  _readBytes = new byte[bufferSize * 3];`

[2020-08-17 14:48] mathpaquette commented on #87
@sharok thanks for rising this. could you please refresh my mind on what it does exactly? just returns a list of currently watched symbols?

[2020-08-17 14:49] mathpaquette commented on #87
usually I give the opportunity to increase the buffer size through the factory. Let me add that as well for Level1

[2020-08-17 14:50] sharok commented on #87
@mathpaquette Yes,  it just returns watching symbols.

[2020-08-26 02:11] hunterfries commented on #23
It might be more friendly instead to export the resharper style settings to an editorconfig as described here: https://blog.jetbrains.com/dotnet/2019/03/28/export-editorconfig-code-style-optimize-references-sdk-projects-resharper-2019-1-eap-updates/

[2020-12-04 08:33] inventzia opened #89 "Unhandled message with no further details on L2 client"
hi, I am trying to use this library as a way to get streaming L2 data from iqfeed via python as a dll. When I try to request watch on a Level2Client I get the error below. It would be good to escalate in the exception message the actual unhandled message as a string.
Many thanks.

 Unhandled Exception: System.Exception: Unknown type of level 2 message received.
   at IQFeed.CSharpApiClient.Streami

[2020-12-07 00:56] mathpaquette commented on #89
Hello @inventzia thanks for reaching. I thought we do already, let me check. We're you able to use it or not? I personality tested this code before merging it.

Please give me update.

[2020-12-07 01:53] mathpaquette commented on #89
@inventzia did you figure out the unhandled message?

[2020-12-07 15:00] mathpaquette commented on #89
Looks strange to me..

[2020-12-09 09:10] inventzia commented on #89
hi, thanks for reaching back. A bit of context to help. I am using the compiled dll libs that I get here: https://www.nuget.org/packages/IQFeed.CSharpApiClient/2.5.1

instantiating and using them from python. The Level2MessageHandler in the switch statement has a default case which throws a generic unhelpful exception. If it is not too much trouble, if you could please print out the detailed messa

[2020-12-09 12:42] mathpaquette commented on #89
hi @inventzia yes yes I was already getting this part. The thing I'm not getting is when do you get this message. Looks strange to me. Could you please share the snippet of code you are using? I need to know the exact sequence. Do you have a subscription to IQFeed L2? Let me do this improvement. I think this is something nice to have anyway. Lets figure this out. I might also involve IQFeed suppor

[2020-12-09 13:53] inventzia commented on #89
hi, thanks for the quick response. The attached snippet produced the error above.

I am not sure our subscription for L2 is valid. We have one for L1 and Intervals. Could that exception have been generated in the case of missing permissions?
 (https://github.com/mathpaquette/IQFeed.CSharpApiClient/files/5666284/test_python_snippet.txt)

[2020-12-10 00:06] mathpaquette commented on #89
@inventzia yeah... you probably missing the error message... use this instead:
[code]

[2020-12-10 00:07] mathpaquette commented on #89
im getting: Error: Account not authorized for Level II
Type: CURRENT PROTOCOL, Message: S,CURRENT PROTOCOL,6.0,

[2020-12-11 08:26] inventzia commented on #89
hi, thanks for the clarification and the suggestion of adding the handler to the System listener. I have not seen that exception since.
Do you think that in my original exception is explained by not having handled System messages? Many thanks and regards

[2020-12-11 10:40] mathpaquette commented on #89
Feel free to star the project if you find it useful :) thanks

[2020-12-11 21:08] inventzia commented on #89
Indeed well done and organized.

[2020-12-11 21:09] #89 closed

[2020-12-21 22:40] BunkerCoder opened #90 "No issue - just a Heads-Up - New IQFeed limit on history requests"
Today, I received "E,Too many simultaneous history requests" in response to an HTD request.
I called support and they said it is a recent change, and they will be posting it on the developer forum soon.
The change was explained to me as:
Basically each user has a limit of 30 history requests per second, and every 1/30 of a second an existing request "drops off" and it decreases by one. As long you

[2020-12-22 00:31] mathpaquette commented on #90
Hi BunkerCoder,

I noticed that also this weekend while doing download for the previous week. Raised support dev issue but didn’t receive update Yet. Thanks for sharing with us... looks like we will need something to prevent that...

Thanks

Sent from my iPhone

On Dec 21, 2020, at 5:41 PM, BunkerCoder <notifications@github.com> wrote:

﻿

Today, I received "E,Too many simultaneous history request

[2020-12-22 00:49] mathpaquette commented on #90
do you think this will be also required for ticks. Ill be adding required changes to avoid that.

[2020-12-22 00:54] BunkerCoder commented on #90
@mathpaquette Thanks for taking this on.  Got this from support: By the way this is only history requests. Port 5009 (Live) will not be changed.

[2020-12-22 00:58] BunkerCoder commented on #90
Also per support: It's on a "user + IP address" basis
So the limit is across all clients.

[2020-12-22 12:48] mathpaquette commented on #90
@BunkerCoder created a fix. Not tested yet. Do you have some time to test it out?

https://github.com/mathpaquette/IQFeed.CSharpApiClient/commit/a33eb8305589c7179c283fedbeacbdb5b6ad8c4b

[2020-12-22 13:14] mathpaquette commented on #90
@BunkerCoder have a look https://github.com/mathpaquette/IQFeed.CSharpApiClient/commit/21cd24b2294fb5ce89c40d5b7b66e807731501c0

[2020-12-22 15:26] BunkerCoder commented on #90
@mathpaquette I'm bogged down today on a client fire, and everyone is on vacation!  I'll try to look later today. Thanks for jumping on this.  I will too as soon as I can.

[2020-12-22 16:51] BunkerCoder commented on #90
@mathpaquette I ran "git checkout 21cd24b", then built, then re-targeted my throwing app to use the local library.  Throwing app still throws with "E,Too many simultaneous history requests."  Thrown from BaseLookupFacade.cs:line 61 as expected.  Will do some more digging.

[2020-12-22 16:53] mathpaquette commented on #90
https://github.com/mathpaquette/IQFeed.CSharpApiClient/commit/21cd24b2294fb5ce89c40d5b7b66e807731501c0#r45348806

[2020-12-22 16:58] BunkerCoder commented on #90
Tried with 10. Same result.

[2020-12-23 00:18] mathpaquette commented on #90
@BunkerCoder are you able to reproduce now? Im not able to get the exception.... Can you share a sample with me to reproduce it?

[2020-12-23 00:56] BunkerCoder commented on #90
@mathpaquette  I've started looking at it, Tried adding a stress test in ConcurrentHistoricalExample.cs, and could not get it to fail, so assuming that your solution is working, and I've got a bug in my app.  Will advise results.

[2020-12-23 02:07] mathpaquette commented on #90
no I dont think so. I think they simply turned it off for now. Lets see. Tell me if you notice something on your side... Thanks

[2020-12-23 02:21] BunkerCoder commented on #90
Now that I look again, I think you're right. I re-tested my throwing app and it didn't throw.

[2020-12-23 17:08] mathpaquette commented on #90
@BunkerCoder I think their implementation was broken and they decided to roll it back.. lets see.

[2020-12-23 21:42] BunkerCoder commented on #90
Received DTN email;  rate limit removed until 12-Jan, when 50 requests/sec. limit goes into effect.  No word about a test server.

Maybe they will open up an API call to check the rate; multiple simultaneous apps/clients can't see the overall machine rate.
At a minimum, I think that LookupRateLimiter() should be a shared instance or static instead of per-Client.

[2020-12-23 21:50] mathpaquette commented on #90
50 requests/sec isssssssss crazy fast. 3000 reqs per minute... we should be good to go.
right now, every class instances from the same LookupClient is using the same rate limiter. Do you have use case of having multiple LookupClient per program?

[2020-12-23 22:16] BunkerCoder commented on #90
Not yet, but I'm working on one! If it becomes a problem, I'll workup a solution and submit a PR.  Maybe just change 30 to 50 for now?

[2020-12-24 00:43] BunkerCoder commented on #90
Strike that. Don't see a good use case for multiple LookupClient per program. But may possibly see running multiple programs, so being able to tweak each program would be nice to have. Maybe a constructor that supported:
var lookupRateLimiter = new LookupRateLimiter(requestsPerSecondLimit);
Happy to contribute.

[2020-12-24 00:59] mathpaquette commented on #90
Yes absolutely. It’s gonna be a parameter from the factory for sure!

Thanks

Sent from my iPhone

On Dec 23, 2020, at 7:43 PM, BunkerCoder <notifications@github.com> wrote:

﻿

Strike that. Don't see a good use case for multiple LookupClient per program. But may possibly see running multiple programs, so being able to tweak each program would be nice to have. Maybe a constructor that supported:
v

[2020-12-24 01:01] BunkerCoder commented on #90
@mathpaquette Silly of me to have even mentioned it. Have I said Thank You lately?

[2020-12-24 01:30] mathpaquette commented on #90
@BunkerCoder your involvement is significantly more meaningful than few words :)

[2020-12-24 17:10] Nucs commented on #90
Too bad I missed this,
What a mess this change has created.

[2020-12-27 16:04] mathpaquette commented on #90
guys.... spent few hours thinking about of one precise working solution... I think I got something.... Ill sharing today.

[2020-12-31 03:38] BunkerCoder commented on #90
Many thanks for a very elegant, ,highly-performant, and timely-provided solution!

[2021-01-04 05:18] rsgabriel opened #92 "IQFeed history request rate limiting change."
Are there plans to support the following recent DTN change?

Last weekend, IQFeed released a server-side update to our historical data servers which changed the method that we use to rate limit requests. This change was necessary to protect
our servers from rogue software and to help standardize and improve the performance of our history servers for all customers. This change ONLY applies to our h

[2021-01-04 10:14] mathpaquette commented on #92
This has been already implemented in version 2.6.0

[2021-01-04 12:11] mathpaquette commented on #92
@rsgabriel code here https://github.com/mathpaquette/IQFeed.CSharpApiClient/blob/master/src/IQFeed.CSharpApiClient/Lookup/LookupRateLimiter.cs#L12

please star the project if you feel thats helpful.

[2021-01-04 12:11] #92 closed

[2021-01-06 08:37] Nucs opened #93 "TickMessage.TotalVolume exceeded int.MaxValue"
Currently TickMessage.TotalVolume is of type int.
I've received the following tick:

Timestamp | Last | LastSize | TotalVolume | Bid | Ask | TickId | BasisForLast | TradeMarketCenter | TradeConditions
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
15:05.2 | 0.0127 | 39370079 | 2160408936 | 0.0125 | 0.0135 | 318215 | C | 56 | 1

Might I suggest upgrading LastSize to 'long' as-well.

[2021-01-06 12:35] mathpaquette commented on #93
@Nucs did you contact IQFeed? this is definitely an error from their data.

[2021-01-06 12:44] Nucs commented on #93
No, how are you sure it is an error?

[2021-01-06 12:54] mathpaquette commented on #93
@Nucs it happened to me in the past and it was corrupted data from their side. 2 billion its a lot lot of volume. Whats the ticker?

[2021-01-06 12:56] mathpaquette commented on #93
https://finviz.com/screener.ashx?v=131&o=-averagevolume

[2021-01-06 13:06] Nucs commented on #93
We couldn't find what ticker that is
Yeah it is.. we need a less destructive way to handle bad data if that's the case

[2021-01-06 14:00] mathpaquette commented on #93
changing data type is a very impacting change for very rare exceptions like this. On top of that, you already need to try/catch every lookup requests because you can receive unordered data for NO_DATA exception. for me this has nothing to do with the library itself.

[2021-01-06 14:01] mathpaquette commented on #93
https://github.com/QuantConnect/Lean/blob/master/ToolBox/IQFeed/IQFeedFileHistoryProvider.cs#L278

[2021-01-06 14:54] mathpaquette commented on #93
Like I said, pretty sure this is corrupted data from their end and I won't merge it for now. Please come back with specific tickers and we can escalate that with IQFeed. It's better to have an overflow exception and discard the data than hiding something under the carpet.

[2021-01-06 16:59] mathpaquette commented on #93
@Nucs ill close the issue for now, please dont hesitate to reopen once you have more detail on the tickers.

[2021-01-06 16:59] #93 closed

[2021-01-16 15:11] mathpaquette commented on #90
Apparently, 50 requests per second is too high... I'm getting , ErrorMessage: Too many simultaneous history requests., MessageTrace: E,Too many simultaneous history requests.,
!ENDMSG!,

[2021-01-16 15:35] mathpaquette commented on #90
Apparently 50 requests per second works well but you have to limit to 8 concurrent clients.

[2021-01-16 19:51] BunkerCoder commented on #90
I got the error with 6 concurrent clients @ 50/sec. a couple of times this week.  Instead of fighting it, I dialed back to 45/sec., and haven't seen the error since.

[2021-01-24 20:41] mathpaquette opened #95 "setup doxigen"

[2021-01-28 14:08] gribunin commented on #93
@mathpaquette Hello, yesterday our service crashed because it seems exactly the same issue. Here is the exception info:

[code]

I think it was the error on IqFeed side though, because the service was requesting the set of tickers it always requests -- nothing unusual.

[2021-01-28 14:30] gribunin opened #96 "Exception inside SocketClient.ProcessReceive is not handled"
Hello, yesterday it seems IqFeed sent wrong data which caused the following unhandled exception to be generated:

[code]

The exception has been generated in the _IOCompletionCallback thread and wasn't handled in that thread, so it became unhandled exception and crashed the service.

Wrapping the API call which generated the IQFeed call above doesn't catch this exception:

[code]

obviously becaus

[2021-01-28 15:08] mathpaquette commented on #96
@gribunin do you remember the ticker? Are you able to reproduce?

[2021-01-28 15:16] gribunin commented on #96
As I said it was probably IqFeed who sent the bad data. I do have requested tickers in my logs, but they receive good replies when being requested at the moment. I think it was something going on IqFeed side exactly at that moment (Jan 27, 5:35 PM EST), because the service continue to crash after automatic restart several times.

Nevertheless we must be somehow prepared for such situation (bad dat

[2021-01-28 15:20] mathpaquette commented on #96
@gribunin absolutely this is bad data from the vendor. I dont want to change the types as already mention in another discussion. What are you suggesting ? Using TryParse instead like we do for streaming data? If it doesnt parse properly we need to be aware in other to drop the bad data.

[2021-01-28 15:43] gribunin commented on #96
I am suggesting to have a global try/catch in SocketClient.ProcessReceive, also add an event handler OnException to SocketClient, pass the caught exception object to this handler. Then subscribe to this event handler (OnException) in GetMessagesAsync and rethrow it there.

This way, the calls to lookupClient.Historical.GetHistoryTickDatapointsAsync and other API methods wrapped to try/catch will c

[2021-01-28 19:15] mathpaquette commented on #96
not sure I like this solution. Maybe converting all Parse to TryParse makes more sense to me.

[2021-01-28 21:27] mathpaquette commented on #96
not at all.... TryParse doesnt throw.

[2021-01-28 23:44] mathpaquette commented on #96
@gribunin please., lets start with this first. create a PR converting double.Parse DateTime.ParseExact int.Parse
like we do in UpdateSummaryMessage

[2021-01-29 04:39] gribunin commented on #96
I see what you mean. Do you think its a correct approach to swallow bad data from iqfeed and just return zeros in the fields which couldnt be parsed? How will a client know that its not a correct TickMessage and that actually bad data has been received?

[2021-01-29 07:16] gribunin commented on #96
Added a pull request (https://github.com/mathpaquette/IQFeed.CSharpApiClient/pull/97) with my idea to catch exceptions and marshal them to the caller context. This way the caller can catch the situation when IqFeed returned bad data, handle this situation as the caller needs. The thrown exception also provides additional information about what exactly failed to be parsed as long as context informa

[2021-01-31 13:07] #90 closed

[2021-01-31 14:16] mathpaquette commented on #96
@gribunin I'm about to push a slightly enhanced version as well. I'll add you as a reviewer.

[2021-01-31 17:32] mathpaquette commented on #96
@gribunin please check my PR.

[2021-01-31 20:20] #96 closed

[2021-02-12 16:45] fbertram commented on #95
I am not sure why you are focused on Doxygen - did you look at DoxFX? https://dotnet.github.io/docfx/

[2021-02-13 13:25] mathpaquette commented on #95
@fbertram definitely and I realized that Doxygen seems to be the more active one. And also thats nice to learn once for all languages.

https://github.com/dotnet/docfx/graphs/commit-activity
https://github.com/doxygen/doxygen/graphs/commit-activity

[2021-02-20 11:24] quazzuk opened #99 "Python async historical requests"
Hi

Firstly thank you for your excellent library, it's been a godsend!

I'm currently using the library from python to download historical data, using pythonnet as per your examples. I've managed to achieve a certain amount of parallelism using multiple connections (up to 6 seems to work) and a multiprocessing pool. However, I've not found a way to use the async variants (GetHistory*Async) on the

[2021-02-20 11:42] mathpaquette commented on #99
hey @quazzuk first of, I'm glad to see that I'm helping others to reach their goals. :) As far as I know, its not possible to use C# async methods from python. This is pretty much why I added these sync commands along the way. BUT something you can try out is to wrap these sync methods from C# and make them async with pything using asyncio lib. I've done that recently and was pretty successful wit

[2021-02-20 12:14] quazzuk commented on #99
Thanks for the response.

Ok, yes I'm using `loop.run_in_executor` but seemed to remember hitting the "Too many simultaneous requests" limit. Perhaps that was prior to your rate throttling functionality being added.

Let me check...

[2021-02-20 12:22] mathpaquette commented on #99
you might have to play with requestsPerSecond parameter (https://github.com/mathpaquette/IQFeed.CSharpApiClient/blob/master/src/IQFeed.CSharpApiClient/Lookup/LookupClientFactory.cs#L23) even I unit tested it carefully, apparently on IQFeed's side, doesn't work as promised.

For me, 8 concurrent clients works well with 50 requests per second but if I go above 8 clients I need to reduce it in order

[2021-02-20 12:42] quazzuk commented on #99
Thanks yes. I think I originally wrote the code around Christmas when IQFeed introduced the limits and spent quite a lot of time debugging before googling and finding it had just been introduced (unannounced) on the IQ side, doh!

One separate question (apologies for it being slightly off topic) but I was curious how you perform efficient incremental updates of historical datasets? Does the IQ API

[2021-02-20 12:59] mathpaquette commented on #99
Cool. There's no such capability. It's symbol based only. Can I close the issue?

[2021-02-20 13:04] quazzuk commented on #99
Yes, please do. Thanks

[2021-02-20 13:05] #99 closed

[2021-03-20 11:54] mathpaquette commented on #61
- [ ] Expanded our level one update/summary field sets to include:
Trade Aggressor - Identifies if the trade was executed at the bid or the ask. (CME group and ICE exchanges currently)
Trade Day Code - The trading day of month that the trade applies to.
- [ ] Expanded fundamental data offering to include:
Base Currency - Currency used at exchange of origin.
Contract Size - The units associated wit

[2021-03-30 13:22] GregGamba opened #104 "Level1 Dynamic Field Type Issue"
Dynamic Level1 Streaming, trying use the field "Type" to identify trades vs updates. When I add "Type" to my list of fields it causes all the other data (Bid,Ask,Last etc) to come back weird (1s, and 2s,).

Pic1: Type commented out -- everything works just fine
![image](https://user-images.githubusercontent.com/11835590/112995351-1ff14100-9139-11eb-90dd-eadc7dcd9a5d.png)

Pic 2: Type included -- e

[2021-03-30 14:37] mathpaquette commented on #104
@GregGamba is that the only problematic one you figured out ?

[2021-03-30 14:42] GregGamba commented on #104
@mathpaquette, yes it was the only one. Didn't seem to matter what combination of fields were used, once Type was involved everything gets thrown off.

[2021-03-30 14:44] mathpaquette commented on #104
@GregGamba did you communicate that with IQFeed or not yet. this is an interesting one. @BunkerCoder did you notice it ?

[2021-03-30 14:47] GregGamba commented on #104
@mathpaquette no, tbh with you I have no clue how to deal with this, lol. I figured out a workaround to achieve what I needed and came here in hopes it would help. What did I do?

[2021-03-30 14:49] mathpaquette commented on #104
@GregGamba let me get some feedbacks from the folks who are using it and see if it comes from our side or their.

[2021-03-30 14:50] mathpaquette commented on #104
most probably the issue comes from us this time.

[2021-03-30 14:52] BunkerCoder commented on #104
I'll take a look.

[2021-03-30 15:31] NichUK commented on #61
So I've started looking at 6.2, and done some initial prep-work.
There are three sections to the protocol update this time.
1) TradeCorrectionMessages - easy, and done.
2) Level 2 - new watch type (by market order), more levels of depth (up to 40 for some exchanges) and a change in the format of messages received. Each message now only provides one side, so there will be more, smaller messages. Th

[2021-03-31 21:51] pmadeira123 opened #105 "How to extract data more efficiently."
Hi!

I am using this code below but it takes forever to get the data. Its taking line by line, and if I take a request of 1 million likes it should take several hours. Is there any work aroud this?

[code]

Thank you!

[2021-03-31 22:49] mathpaquette commented on #105
@pmadeira123 what do you want to do exactly? save to disk?

[2021-03-31 23:40] mathpaquette opened #106 "LookupRateLimiter requires to start counting after request get received."
under some rare circumstances, its possible that you received exception from IQFeed Too many requests if you have more than 10 clients.

[2021-04-01 04:17] mrut2pac opened #108 "Lookup rate limiter test is flaky"
The below operations need to be atomic:
[code]
Otherwise we may get the `requestsCount` incremented in between the lines and resetting to 0 may lose some of the requests.

The quick fix could be look like:
[code]
Something like this, IMHO, should remove the test flakiness.

[2021-04-01 10:45] mathpaquette commented on #108
Okay good. I'm about to create a new PR to manage another issue we have.

[2021-04-01 10:51] mathpaquette commented on #106
I have the working implementation locally.

[2021-04-01 14:39] BunkerCoder commented on #104
@mathpaquette  - I have a simple fix locally which basically prevents adding Type (throws) to the dynamic field list (but still supports the property to avoid breaking existing client code).  However, I'm fighting an issue in the integration tests that causes my IQFeed Connection Manager to freeze up as soon as it gets to the Level2 tests (I don't have a L2 subscription, and an error window pops t

[2021-04-01 19:17] BunkerCoder opened #109 "Stale Date Range in Generate_Test_Data()"
Generate_Test_Data() test is failing with message:
IQFeed.CSharpApiClient.Common.Exceptions.NoDataIQFeedException : IQFeed doesn't have any data for the request sent.
I got it working by changing startDate and endDate to more recent dates that are within the IQFeed archived history timelines.

I'm surprised nobody has noticed. Is this just something that we need to remember to do when testing?
Sho

[2021-04-02 01:46] mathpaquette commented on #109
@BunkerCoder this test is marked [Explicit] and should not be part of the normal run unless you manually run it. We don't check them frequently. Probably I added it to conveniently generate these csv files but nothing more to test than that.

[2021-04-02 01:47] mathpaquette commented on #109
@BunkerCoder Im not aware of this session problem....

[2021-04-02 07:17] BunkerCoder commented on #109
@mathpaquette - I was talking about above and in #104 was the trading session, but the problem happens any time I run tests locally when the IQFeed Connection Manager is already open and serving another client app.  Some of the tests cause the Connection Manager to throw an Error dialog stating "Sorry, your Product and/or Service for the attempted login are incorrect. If you have recently changed

[2021-04-03 01:04] #104 closed

[2021-04-03 13:52] #106 closed

[2021-04-03 13:52] #108 closed

[2021-04-04 13:14] mathpaquette commented on #109
@BunkerCoder to be honest, maybe you need to  update to latest Visual Studio and get Resharper enable or something. It does exclusion unless you manually force the test...

Which Visual Studio version you got?

[2021-04-04 17:44] BunkerCoder commented on #109
@mathpaquette  - I'm on VS Community 2019 v16.8.3, so I'm pretty current.
It looks like Resharper is the key. I'd heard of it, but never checked into it.  Looks awesome.
Thanks for the heads-up.  Hopefully I'm the last one to trip over this.

[2021-04-04 17:44] #109 closed

[2021-04-04 20:21] mathpaquette commented on #61
Sorry didn't notice this before.
Umm. I got your point.

I dont think we should and have to return these identifiers to the user at all.. Basically, the way the lib has been designed, we dont really really about them at all because we do one request per connection at any given time. Its better to have multiple clients responsible for each their request in parallel. Overall, we can keep the same st

[2021-04-04 20:59] NichUK commented on #61
Yes, I think I have a structure that should work now. Similar to last time. I’ll have a PR for you in a couple of days most likely.

[2021-04-04 21:30] mathpaquette commented on #61
Sounds good. Man they will support NASDAQ OpenView this is quite exciting stuff TBH. Are you guys using L2?

[2021-04-05 20:39] NichUK commented on #61
We're experimenting with L2 right now. We'll definitely get into using it at some point though.

On 4 Apr 2021, at 22:31, Mathieu Paquette ***@***.***> wrote:

﻿

Yes, I think I have a structure that should work now. Similar to last time. I’ll have a PR for you in a couple of days most likely.

Sounds good. Man they will support NASDAQ OpenView this is quite exciting stuff TBH. Are you guys using

[2021-04-06 09:35] pmadeira123 commented on #105
Hi,

Sorry for the delay in the response. Yes , it takes way too much time to get 1 by 1 into desktop or a database. Am I doing something wrong or can be improved in efficiency?

Thank you!

[2021-04-06 11:13] mathpaquette commented on #105
@pmadeira123 please have a look into this example. https://github.com/mathpaquette/IQFeed.CSharpApiClient/blob/master/src/IQFeed.CSharpApiClient.Examples/Examples/ConcurrentFileHistorical/ConcurrentFileHistoricalExample.cs

Tell me if its help or not.

[2021-04-06 11:14] mathpaquette commented on #105
@pmadeira123 you can increase NumberOfConcurrentClients  to 15 to get optimal performance.

[2021-04-06 12:52] pmadeira123 commented on #105
Thank you, I will test this out later today and come with a response. Thank you very much for your assistance.

[2021-04-09 13:45] NichUK opened #119 "Latest updates to Level1 Dynamic Data Handling don't support protocol 6.1 extensions"
The new IUpdateSymmaryDynamicMessage doesn't support MostRecentTradeAggressor or MostRecentTradeDayCode both of which are supported via the old DynamicFields mechanism on the standard Level1Client.

This obviously crept in between us merging the 6.1 protocol and then the changes to dynamic field handling.

[2021-04-09 13:56] NichUK commented on #119
OK, from what I can see, I just need to add the field names to the interface, and if they're then passed as part of the array of DynamicFieldset at start up time for the Level1DynamicClientFactory, then it should all just work. I'll give it a go and PR if it does.

[2021-04-09 21:27] #119 closed

[2021-04-13 10:30] #105 closed

[2021-04-23 09:11] samushenkov opened #122 "PeriodVolume doesn't fit in 32 bit integer of IntervalMessage"
Hey there.

Some 4-hour candles for C (CITIGROUP) have period volume that doesn't fit in 32 bit integer field of IntervalMessage.
This causes other various problems depending on used API method.

[2021-04-23 09:24] samushenkov opened #123 "IQFeed client causes app crash"
#122 issue can cause app crash if one uses GetIntervalMessagesWithRequestId api method.

SocketAsyncEventArgs.Completed event handler doesn't have any try-catch blocks. That is why exception thrown by ParseWithRequestId crashes all application.

[2021-04-23 09:33] samushenkov opened #124 "IQFeed client returns data from previous request"
Subsequent requests can return not proceed messages from previous request.
This issue is caused by #122 and can be reproduced if user uses GetIntervalMessages (without RequestId) method.

TryParse returns false in case if it can't parse upcomming message.
![image](https://user-images.githubusercontent.com/11872649/115851482-aabf1600-a42f-11eb-93cf-5911f616f6c1.png)
This means that client doesn't r

[2021-04-23 10:33] mathpaquette commented on #122
@samushenkov  could you please include requests you used?

[2021-04-23 10:35] mathpaquette commented on #123
@samushenkov  just by curiosity, why are you still using requestId?

[2021-04-23 10:38] samushenkov commented on #123
Actually I am not, it was a first attempt to solve an issue with candles from previous request. Just thought that there is some logic that filters messages based on request id.

[2021-04-23 10:43] samushenkov commented on #122
I am not sure about exact time period, so try something like this:

[code]

[2021-04-23 11:45] mathpaquette commented on #123
@samushenkov we still dont use TryParse for RequestId thats the reason why you got the exception. https://github.com/mathpaquette/IQFeed.CSharpApiClient/blob/master/src/IQFeed.CSharpApiClient/Lookup/Historical/HistoricalMessageHandler.cs#L27

[2021-04-23 11:47] mathpaquette commented on #124
@samushenkov thats indeed a very good one.

[2021-04-23 11:48] mathpaquette commented on #122
@samushenkov are you getting InvalidData or app crash ?

[2021-04-23 11:56] samushenkov commented on #122
It depends on used api method.

Without request id:
GetHistoryIntervalTimeframeAsync throws InvalidData exception. And the next subsequent request to the same SocketClient returns candles from the first request.

With request id:
Calling GetHistoryIntervalTimeframeAsync will end in app crash. It is not possible to handle exception.

[2021-04-23 11:56] mathpaquette commented on #122
got it thanks.

[2021-04-23 11:58] mathpaquette commented on #122
@samushenkov  super helpful all your issues/comments

[2021-04-23 11:58] samushenkov commented on #122
Thanks

[2021-04-24 19:47] mathpaquette commented on #122
@samushenkov please have a look to my PR.

[2021-04-25 12:47] mathpaquette opened #126 "FundamentalMessage is not backward compatible with 6.0 message type"
FundamentalMessage is not backward compatible with 6.0 message type

[2021-04-25 15:41] #122 closed

[2021-04-25 15:41] #124 closed

[2021-04-25 15:41] #126 closed

[2021-04-26 12:10] mathpaquette commented on #122
@samushenkov  can you confirm its fine now.

[2021-04-26 12:12] samushenkov commented on #122
Hey @mathpaquette, thank you for your work! I will check when have a free minute.

[2021-04-26 12:13] mathpaquette commented on #122
@samushenkov please dont forget to star us :)

[2021-04-27 15:12] NichUK opened #128 "New Level1DynamicClient doesn't differentiate null times"
I've noticed that occasionally IQFeed sends back 99:99:99 as a time in a summary message, meaning they don't have the time.

The new Level1DynamicClient parses that as 00:00:00 which obviously, is midnight. At best, this is wrong, and at worst, not being able to know that IQ gave a "null" time might be dangerous.

I'm not really sure what the best fix for this would be, other than to have the Leve

[2021-04-27 16:53] mrut2pac commented on #128
@NichUK how is this handled in non-dynamic client?
The simplest fix that comes to my mind is to add handling in `FieldParser.ParseTime` for `99:99:99` to return TimeSpan.MinValue.
Will this work?

[2021-04-27 19:00] mathpaquette commented on #128
Umm dont know. Sounds confusing to me. Even Zero TimeSpan  00:00:00 represents midnight ?

[2021-04-27 19:28] mathpaquette commented on #128
@NichUK what does the date look like when we got 99:99:99?

[2021-04-27 19:36] NichUK commented on #128
@mathpaquette  There is no date. BidTime, AskTime, etc. They are sent just as times.
I can't find the 99:99:99 documented in the API docs, but I've seen it and I found this statement on a forum from someone from DTN.
"Bid and ask times, when they are blanked out by the exchange, are sent through as 99:99:99."

@mrut2pac  I used to handle it in my code by setting the returned TimeSpan to TimeSpan.M

[2021-04-30 12:08] NichUK commented on #128
Just an extra wrinkle...

I've just found some data that looks like this:

![image](https://user-images.githubusercontent.com/346792/116692836-ea987700-a9b4-11eb-9cac-2fe7eb5ee1c1.png)

So you need to ignore milliseconds when parsing for 99:99:99

That's the current SnapQuote for JGM21 the 10 year Japanese Bond, BTW if you want to see for yourself.

[2021-07-30 16:43] CBrauer opened #130 "I cannot compile this code with Visual Studio 2022"
Hey,
I cannot compile this code with Visual Studio 2022.

![image](https://user-images.githubusercontent.com/1317234/127684961-62d4d76e-2066-40cb-8dda-b75f35d1c13e.png)

Any suggestions on how to fix this code will be greatly appreciated.

Charles

[2021-07-30 18:20] NichUK commented on #130
try changing line 10 to:

    public event Action<IUpdateSummaryMessage> Level1Msg {

that seems to be what the error message is saying.

[2021-07-30 19:19] CBrauer commented on #130
Now I get:
![image](https://user-images.githubusercontent.com/1317234/127701728-9b857488-be16-405b-999d-8c523f198df9.png)

[2021-08-06 01:49] veng1 opened #131 "Files on disk contain "!ENDMSG!,""
I see no obvious way to avoid writing !ENDMSG!, other than create the file and delete the last line.

What am I missing?

Thank you.

[2021-08-06 10:54] mathpaquette commented on #131
What are you doing more specifically?

[2021-08-06 10:55] mathpaquette commented on #130
Did you solve it ? It's not really related to this repo though...

[2021-08-06 12:20] mathpaquette commented on #131
Please check this example. https://github.com/mathpaquette/IQFeed.CSharpApiClient/blob/master/src/IQFeed.CSharpApiClient.Examples/Examples/BasicFileHistorical/BasicFileHistoricalExample.cs#L35

[2021-08-06 12:20] #131 closed

[2021-08-06 12:43] mathpaquette commented on #130
@CBrauer its compiling now. Please check https://github.com/mathpaquette/IQFeed.CSharpApiClient.Samples/commit/04d173b024a3fca2d40c36afccc4042d77d1d665

Also dont forget to star the projects.

Thanks,
Math

[2021-08-06 12:43] #130 closed

[2021-08-06 13:13] CBrauer commented on #130
Thanks mathpaquette, I appreciate all your hard work.

[2021-09-10 16:12] SuperDaveOsbourne opened #132 "appsettings.json in .net core 3"
System.ComponentModel.Win32Exception: 'The system cannot find the file specified.' at IQFeedLauncher.Start(); This is in .NET Core 3.1. VS 2019

{
  "AppSettings": {
    "IQConnect": {
      "login": "Bob",
      "password": "myPassword",
      "product_id": "MyId",
      "product_version": "1",
      "connectionTimeOutMs": "30",
      "retry": "50"
    }
  }
}

[code]

[2021-09-11 10:18] mathpaquette commented on #132
really?

[2021-09-11 10:22] mathpaquette commented on #132
also I wanted to make sure to test properly on Linux and remove incompatible code.

[2021-09-11 11:49] SuperDaveOsbourne commented on #132
Sorry I am confused. Maybe I am stuck on stupid as I have been at it straight for a few days without sleep. Please let me know as sometimes I am. Not sure why we would get a file not found error at the packages inception? Its not the environments settings as they are there as shown in the loop as have loaded.

Also adding the parameters to the IQFeedLauncher.Start(parms); doesn't seem to work eith

[2021-09-11 22:16] #132 closed

[2021-09-12 14:53] mathpaquette commented on #132
@SuperDaveOsbourne sorry, whats the outcome ?

[2021-09-12 15:27] SuperDaveOsbourne commented on #132
I updated the repo to .Net 6 using VS 2019 preview.  Fixed the environmental variables by hard coding them for the moment. Directly there are 453 Warnings and 3 messages. 99% of these are about nulls.

Warning	CS8600	Converting null literal or possible null value to non-nullable type.

One that I fixed was updating the Webclient. to HttpClient.  But it compiles and works. I am on the trial which I

[2021-09-23 04:49] u1035 opened #133 "Support of new IqFeed version 6.2"
Hello!
Thank you for your work!

There is new version released September 20th, 2021 - seems like some changes needs to be made.
I got "File not found" exception somewhere inside IQFeedLauncher.Start() - but didn't investigate it deeper yet.

[2021-09-23 06:20] mrut2pac commented on #133
64bit! - IQConnect (the main feed component) and all display apps are now 64bit.  We will no longer distribute 32bit versions of these core IQFeed components.  This also requires a change to installation practices for IQFeed so if your app is using a hard coded IQFeed path to launch the feed, this will need updating.
This should be the cause. Most likely.

Regards,
Vardan

[2021-09-23 15:13] mathpaquette commented on #133
duplicated #61

[2021-09-23 15:13] #133 closed

[2021-09-23 15:13] mathpaquette commented on #61
@NichUK are we good to merge to master ?

[2021-09-23 19:06] NichUK commented on #61
I haven't looked at this for a while, but I was happy with it back then...

[2021-10-28 11:50] Rob-Hague opened #134 "MarketSummary.GetEndOfDayFundamentalSummaryAsync throws Exception"
If I call

`await lookupClient.MarketSummary.GetEndOfDayFundamentalSummaryAsync(Lookup.Symbol.SecurityType.FOPTION, 34, DateTime.Today)`

there is an exception raised in [MarketSummaryMessage](https://github.com/mathpaquette/IQFeed.CSharpApiClient/blob/f5aa66c1741010816ca7ccb73c53207adc11f68f/src/IQFeed.CSharpApiClient/Lookup/MarketSummary/Messages/MarketSummaryMessage.cs#L272) due to headings loo

[2021-10-28 18:32] #134 closed, assigned to nobody

[2022-01-16 17:29] emilge opened #138 "getting stock symbol info (industry, sector etc)"
Guys, anyone would advise a quick way to get symbol info ?

[2022-01-16 17:30] mathpaquette commented on #138
do you mean this file http://www.dtniq.com/product/mktsymbols_v2.zip

[2022-01-16 18:48] #138 closed

[2022-01-18 17:20] emilge commented on #138
I mean through API request )

[2022-03-04 01:08] mcmillab commented on #38
ok so once I do that, I develop the application, and then say I stop subscribing to IQfeed developer. What happens then?
thanks

[2022-03-05 16:00] mathpaquette commented on #38
not sure.. I think you might be able to continue using your product id...

[2022-03-25 13:05] SuperDaveOsbourne opened #139 "Minute bars for various divisions of the trading day."
Lets say I want 195 minute bars for the interval period. How would one code that to get just the two bars of the trading day for normal US equities. I know I can upscale 5 minute bars but I am trying to debug why a chart package returns different data when both IQFeed and the charting package use DTN.

If I use non trivial time second spans, the start times don't line up with 9:30 to 4 of the stan

[2022-03-25 13:49] SuperDaveOsbourne opened #140 "Enhancement - Add to items in enum DynamicFieldSet.cs"
Add
        [FieldsetDescription("SIC", typeof(double))]
        SIC,

        [FieldsetDescription("NAICS", typeof(double))]
        NAICS,

As standard  fields in IQFeed.CSharpApiClient.Streaming.Level1 DynamicFieldset enums

[2022-03-27 19:09] mathpaquette commented on #140
sure. @SuperDaveOsbourne  could you please raise a PR for it ? thanks

[2022-04-03 18:22] SuperDaveOsbourne commented on #139
I have noticed that even 5 minute bars don't seem to match the same feed that DTN has with Ninja trader. As an example AMD on a 300 second call to:

[2022-04-04 01:32] mathpaquette commented on #139
umm interesting.. are you able to get the request generated by Ninja ? You can enable logging on IQFeed client.

[2022-04-04 13:25] SuperDaveOsbourne commented on #139
Thanks, but the Ninja Feed doesn't log. I did get this from DTN API support:  Minute data is going to include the open/high/low/close for each minute period, and just combines that data to create the bars. Tick/second data can include more detail like non-qualifying last trades that are not included in the minute data. So to match 5 minute bars I need to request minute data.

[2022-04-10 12:33] dutchy54321 commented on #38
hi, so this library is meant for developers? I have an IQFeed account but not a developer account. I just want to access some streaming data that the software that I am using does not provide or make available. Why is this product ID needed? Is this a  requirement made by IQFeed? I mean there is other Python code out there that is able to connect to IQFeed without this product ID,

thanks

[2022-04-10 12:56] dutchy54321 commented on #38
I got the sample code running IF I am running IQFeed already inside another program. However, after it printed the tick data it gives an error that the product key has changed. This is because in the Python code I used 0 for the product_ID

Is there any way to retrieve the product ID once I am already running IQFeed? Since this is how I want to use it anyway. I already run IQFeed using other softw

[2022-04-11 12:49] mathpaquette commented on #38
@dutchy54321 please dont forget to star the project. have a look at this https://github.com/mathpaquette/IQFeed.CSharpApiClient/issues/25#issuecomment-441163239

[2022-04-11 13:12] dutchy54321 commented on #38
@mathpaquette not sure what you mean by "star" the project.

is this plugin meant for people who already have a developer account? Since I have it working but I do not have access to the manual so I do not know function names etc.  I actually only want access to some data because inside Amibroker I have access to most. I just want to have access to streaming bid/ask prices. I want to buffer them i

[2022-04-11 13:18] dutchy54321 commented on #38
ok thanks that's too bad.

OK I gave it a star 👍  number 99

[2022-04-12 08:13] dutchy54321 commented on #38
hi Math,

maybe you can help me with 1 thing.

Once IQFeed is launched the IQFeed connection Manager has started (little blue icon).  If you right mouse click on the icon there are several menus to choose from. 1 is "Display Apps". Inside "Display Apps" go to "Time & Sales"  Then the "Time & Sales" window opens.

Now you can put in a symbol for instance QPL# and data Type tick. If you go into the

[2022-04-18 10:06] dutchy54321 commented on #38
actually your example code already gives the information I need. I just compared it with the T&S window of IQFeed and the information is there using the level1 example code calling for instance:

`# Request streaming
level1Client.ReqWatch("@ES#")`

so this is great

[2022-04-22 15:12] GregGamba opened #141 "Enhancement? Dealing with Streaming Level2"
Could you do an example of how to connect to, and deal with, streaming Level2? DTN recently did an update and expanded the number of levels visible in their GUI -- id love to be able to connect/listen to the same via the API

Thank you, ya'll are amazing!

[2022-04-22 16:17] GregGamba commented on #141
Specifically, I'm talking about market depth

[2022-04-24 14:48] mathpaquette commented on #141
@GregGamba unfortunately, I don't have access to L2 data. I can't really help immediately. Maybe @NichUK could?

[2022-04-25 11:48] GregGamba commented on #141
perhaps my dumbest question to date, but is it simply a matter of getting
you access to L2 =)

On Sun, Apr 24, 2022 at 10:48 AM Mathieu Paquette ***@***.***>
wrote:

[2022-04-27 08:31] dutchy54321 commented on #38
hi,

I will probably not get a reply, which is fine. I am not a real programmer, just a coder inside trading programs

So Amibroker has a bridge to Python.  I can start getting bid and ask data inside Amibroker using a function

`def startOutputSomeDataInAmibroker( sym1 ):

    AmiPy.Print('In A')
    # Subscribe to Summary/Update events
    level1Client.Summary += level1UpdateSummaryHandler
    l

[2022-04-28 11:19] mathpaquette commented on #38
You have a typo.. src/IQFeed.CSharpApiClient/Streaming/Level1/ILevel1Client.cs

ReqUnwatch..

[2022-04-28 11:50] dutchy54321 commented on #38
thanks. Yes I found that also (also DisConnect needs to be Disconnect) but I still can't get it working.

So if I call the ReqUnwatch directly after ReqWatch it stops the stream.  So the code that starts the streaming, outputs the data inside Amibroker and stops streaming looks like this:

[code]

so the level1Client I activate globally.

However if I try to stop the stream using another function

[2022-05-29 13:38] traderpedroso opened #142 "im trying to run with mono pythonnet"
[code]

[2022-05-29 21:24] mathpaquette commented on #142
Yes let me check how to handle that. Do you have a Pull request or fix already ?

Sent from my iPhone

On May 29, 2022, at 9:39 AM, Emerson Pedroso ***@***.***> wrote:

﻿

System.ComponentModel.Win32Exception: Cannot find the specified file
  at System.Diagnostics.Process.StartWithShellExecuteEx ```

—
Reply to this email directly, view it on GitHub<https://github.com/mathpaquette/IQFeed.CSharpApi

[2022-05-30 20:04] traderpedroso commented on #142
acI have no pull request and could find the solution for that! thank you for your response

[2022-06-13 22:57] jphiggs opened #143 "Examples"
Hi Mathieu, it's been a while.  You may recall I helped implement L2 a few years ago and was going to create an example for #141.  As I was reviewing the current examples, I found that they're blowing up on the 6.2 ProtocolVersion specified in IQFeedDefault.cs.  The AdminMessageHandler is throwing because the response string starts with 'E'.   That's as far as I got for now.  For some reason IQFee

[2022-06-13 23:50] mathpaquette commented on #143
@jphiggs its been a while! Glad to see you again around! Are you able to dig a little bit further ? I dont have access to market depth anymore. Math

[2022-06-14 00:31] jphiggs commented on #143
Yes I will gladly, but it's the current examples that are failing with 6.2 and I haven't looked at any of this code in a long while.  If you can't afford the time to figure out that one, maybe I'll create a new set of examples with a console menu targeting .NET 6 and also a set of the same examples for WPF .

[2022-07-11 21:12] mathpaquette commented on #143
@jphiggs sorry ive been sick for few days. where's the PR?

[2022-08-06 06:15] avalanche-zak commented on #86
In re: to more python examples... I use IQFeed with Ninjatrader, and recently started manipulating data with python/pandas, and this package is great! I have figured out how to pull the daily, weekly, and monthly timeframes so far.

But am struggling with figuring out the code for intraday intervals (for example, 5min or 240min, etc).

Here is how I am pulling D/W/M timeframes:

daily = lookupClie

[2022-08-23 17:11] fs4590 opened #146 "Streaming.Derivative"
i am trying to get 1000 tick bar interval using Streaming.Derivative . using the below  code
but it seems i cant get the right paramater for teh BW call ,
# Dynamically add IQFeed.CSharpApiClient DLL

assembly_path = r"C:\projects\IQFeed.CSharpApiClient"
import sys
sys.path.append(assembly_path)
import clr
clr.AddReference("IQFeed.CSharpApiClient")
import IQFeed.CSharpApiClient
# Step 1 - Run IQCo

[2022-09-27 07:18] dutchy54321 commented on #38
hi Math,

I was just looking at your application again. I want to access Level1
IQFeed data. The msg line is ok for me but it does not contain the* tickID.*

the output I get looks like (see below). Basically all I need except for
the TickID which is not in the message line. Would it be possible to add
the tickID?

thank you,

Ed

Symbol: @ES#, MostRecentTrade: 3706.5, MostRecentTradeSize: 1,
Most

[2022-10-06 14:00] dutchy54321 commented on #38
hi Mathieu,

I made some Python TEST code to read the IQFeed data into a pandas
dataframe.

I have a *historical part and a streaming part*. In the historical part I
was not able to get the timestamp that gives me Microseconds. In the code
below I show in yellow where I add this. As a dummy I add Milliseconds. It
is a DateTime Object but it does not give me the Microseconds.

Could you maybe tell

[2022-10-11 08:37] dutchy54321 commented on #38
hi Math,

i think I succeeded.

My test code below. Still have to test when markets are open but it gives
me 1 line output as expected

regards, Ed

'''
https://github.com/mathpaquette/IQFeed.CSharpApiClient/blob/master/docs/USING-WITH-PYTHON.md
https://www.quantstart.com/articles/Downloading-Historical-Intraday-US-Equities-From-DTN-IQFeed-with-Python/
https://github.com/mathpaquette/IQFeed.CSharp

[2022-10-17 16:44] dutchy54321 opened #147 "startDate endDate"
so I have some testcode

[code]

now these two work:

1)

`ticksFilename = lookupClient.Historical.File.GetHistoryTickDatapoints("@ES#",500,1)`

2)

`ticksFilename = lookupClient.Historical.File.GetHistoryTickDays("@ES#",3,None,None,None,1)`

But I can not make the friqqin beginDate and endDate work. I tried many setups, here is 1:

[code]

or this:

[code]

what the hell is the trick here? Starti

[2022-10-17 17:06] dutchy54321 commented on #147
i know the startDate and endDate are just strings

startDate = "20221013"
endDate = "20221014"

should work but they do not. So something is wrong here.

this should work:

[code]

but it does not work. So why not?

[2022-10-18 07:59] dutchy54321 commented on #147
also passing them as type DateTime does not work. So I tested all types, str, int, datetime, nothing works

[code]

[2022-10-18 09:22] dutchy54321 commented on #147
well figured out the type needs to be:  type: <class 'System.DateTime'>

[2022-10-18 13:05] dutchy54321 commented on #147
for completion, the answer to my question is you need to load:

[code]

then you can fill in the beginDate and endDate using:

[code]
the parameters used in DatetTime are Year, Month, Day, Hour, Minute, Second

works great

[2022-11-03 12:41] dutchy54321 opened #148 "!ENDMSG!,"
hi,

when using the csharp plugin with Python is there any way to set !ENDMSG!, to false? Now when I download a day of historical data it puts this message at the end of the file (!ENDMSG!,). So I know I can get rid of it of course but it slows things down dramatically. I can read the CSV file without that line using:

                df = pd.read_csv( filename, header=None, names=headers1, dtype=